<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
        <img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln">
    </div>
    
    {{>footer}}
</body>

</html>